.footer-bg {
  background: var(--cor-preto);
}

.footer {
  justify-content: space-between;
}
.footer-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 60px 60px;
  color: var(--cor-branco);
}

.footer-conteudo h4 {
  margin-bottom: 20px;
}

.footer-contato,
.footer-contato li > a,
.footer-informacoes li > a {
  color: #c7c7c7;
}

@media (max-width: 500px) {
  .footer-conteudo {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px 20px;
  }
  .footer-conteudo h4 {
    margin-bottom: 0px;
  }
  .footer-conteudo p {
    font-size: 0.8rem;
    color: #c5c5c56e;
  }
}

@media (max-width: 420px) {
  footer {
    min-width: 440px;
  }
}
